/**
 * Bootstrap
 */
@import "~bootstrap/scss/bootstrap";
// Core variables and mixins
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/custom";

// Reset and dependencies
@import "~bootstrap/scss/normalize";
@import "~bootstrap/scss/print";

// Core CSS
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
// @import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";

// Components
// @import "~bootstrap/scss/transitions";
// @import "~bootstrap/scss/dropdown";
// @import "~bootstrap/scss/button-group";
// @import "~bootstrap/scss/input-group";
// @import "~bootstrap/scss/custom-forms";
// @import "~bootstrap/scss/nav";
// @import "~bootstrap/scss/navbar";
// @import "~bootstrap/scss/card";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/jumbotron";
// @import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
// @import "~bootstrap/scss/media";
// @import "~bootstrap/scss/list-group";
// @import "~bootstrap/scss/responsive-embed";
// @import "~bootstrap/scss/close";

// Components w/ JavaScript
// @import "~bootstrap/scss/modal";
// @import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";

// Utility classes
@import "~bootstrap/scss/utilities";

/**
 * Vendor
 */
@import "~quill/dist/quill.bubble";
@import "~vue-multiselect/dist/vue-multiselect.min.css";
@import "~medium-editor/dist/css/medium-editor.min.css";
@import "~medium-editor/dist/css/themes/beagle.min.css";
@import "~linearicons/dist/web-font/style.css";
@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/monokai.css";


$style-bar-width: 230px;
$bg-dark: #2e3238;
$primary: #4598BF;
$toolbar-height: 42px;

/**
 * Base
 */
 @import "base/typography";

/**
 * Components
 */
@import "components/sidebars";
@import "components/modals";
@import "components/toolbars";
@import "components/sections";
@import "components/columns";
@import "components/elements";
@import "components/context-menu";
@import "components/editable";
@import "components/forms";
@import "components/preview";
@import "components/rule-set-tree";
@import "components/element-tree";
@import "components/importer";
@import "components/highlighter";


#app {
	margin-right: $style-bar-width;
	padding-top: $toolbar-height;
	position: relative;
	background: gray;
	overflow: hidden;
	background: #f7f7f7;
	height: 100vh;
}

#iframe-preview {
	width: 100%;
	height: calc(100vh - 50px);
	border: 0;
	background: white;
	margin: 0 auto;
	display: block;
}


.workpane {
	top: 0px;
	left: 50%;
	position: absolute;
	transform: translate3d(-50%,0,0);
	margin-top: $toolbar-height;
}
.highlight {
	position: absolute;
	top: 0;
	left: 0;
	outline: 1px solid green;
	// pointer-events: none;
}
.label {
	position: absolute;
	bottom: 100%;
	left: 0;
	background: black;
	color: white;
	.parents {
		display: none;
	}
}

.draggable-list {
	min-height: 100px;
	background: gray;
}
