<template>
    <div class="color-picker">
        <span class="current-color" :style="'background-color: ' + value" @click="togglePicker()"></span>
        <color-picker v-model="value" v-if="displayPicker" :autocomplete="schema.autocomplete" :disabled="disabled" :readonly="schema.readonly" :name="schema.inputName" :id="getFieldID(schema)"></color-picker>
    </div>
</template>

<script>
	/* global $ */
	import { abstractField } from 'vue-form-generator'
    import { defaults } from "lodash";
    import Sketch from 'vue-color'

	export default {
        mixins: [ abstractField ],
        data() {
            return {
                displayPicker: false,
            }
        },
        methods: {
            formatValueToModel(value) {
                var rgba = ''             
                if (value && value.rgba) {
                    rgba = 'rgba(' + value.rgba.r + ',' + value.rgba.g + ',' + value.rgba.b + ',' + value.rgba.a + ')'
                }
                return rgba;
            },
            formatValueToField(value) {
                if (!value) {
                    value = ''
                }
                return value;
            },
            togglePicker() {
                this.displayPicker ? this.hidePicker() : this.showPicker();
            },
            showPicker() {
                document.addEventListener('click', this.documentClick);
                this.displayPicker = true;
            },
            hidePicker() {
                document.removeEventListener('click', this.documentClick);
                this.displayPicker = false;
            },
        }
	};
</script>