<template>
    <div>
        <input
            type="hidden"
            v-model="wrappedValue">
        <input 
            class="form-control" 
            type="text" 
            v-model="integer"
            :min="schema.min"
            :max="schema.max"
            :placeholder="schema.placeholder"
            :readonly="schema.readonly" 
            @change="updateValue">
        <select
            class="form-control"
            v-model="unit"
            @change="updateValue">
            <option v-for="unit in availableUnits" :value="unit">{{ unit }}</option>
        </select>
    </div>
</template>

<script>
   import { abstractField } from 'vue-form-generator'

   export default {
         mixins: [ abstractField ],
         data() {
             return {
                 integer: 0,
                 unit: 'px',
             }
         },
         computed: {
             wrappedValue: {
                 get() {
                     this.integer = parseInt(this.value) || null
                     this.unit = this.getUnit(this.value) ? this.getUnit(this.value) : 'px'
                     return this.value
                 },
             },
             availableUnits() {
                 if (this.schema.units) {
                     return this.schema.units
                 } else {
                     return [
                         'px',
                         '%',
                         'em',
                        //  'vh',
                        //  'vw',
                     ]
                 }
             },
         },
         methods: {
             updateValue() {
                 if (this.integer) {
                     var typedUnit = this.getUnit(this.integer)
                    console.log(typedUnit)
                     if (typedUnit) {
                         this.unit = typedUnit
                     }
                     this.integer = parseInt(this.integer)
                 }
                 if (this.integer && this.unit) {
                     this.value = this.integer + this.unit
                 }
             },
            getUnit(value) {
                var unitValue = null
                this.availableUnits.forEach(function(unit){
                    if (value && typeof value == 'string' && value.includes(unit))
                        unitValue = unit
                })
                return unitValue
            }
         }
   };
</script>