.resizer-handle {
	background: transparent;
	height: 100%;
	width: 10px;
	position: absolute;
	right: 0;
	top: 0;
	cursor: col-resize;
	display: none;
	background: red;
	opacity: .2;
}

.sortable-ghost {
	background: rgba(98, 184, 255, 0.2);
	// height: 40px;
}