.context-menu {
	position: absolute;
	background: $bg-dark;
	color: white;
	z-index: 10;
	margin: 0;
	padding-left: 0;
	border-radius: 5px;
	li {
		list-style: none;
		padding: 0.6rem 1.5rem;
		cursor: pointer;
		a {
			padding: 0.5rem 1.5rem;
			cursor: pointer;
		}
		margin-left: 0;
		&:hover {
			background: gray;
		}
	}
	&:focus {
	}
}