.element-tree {
    .element-tree-item {
    }
    .element-tree-item-name {
        padding: 6px 10px;
        &.active {
            background: $primary;
            color: white;
        }
        svg {
            max-width: 17px;
            margin-right: 10px;
            float: left;
        }
    }
}