.vb-matched-element {
	outline: 1px solid green;
}

.element-cards {
	
}
.element-card {
	width: 50%;
	height: 90px;
	float: left;
	display: block;
	padding: 30px;
	text-align: center;
	background: #ffffff1a;
	outline: 1px solid #d4dde4
}

.block-title {
	font-size: .8rem;
	font-style: italic;
	font-weight: bold;
	height: 20px;
	margin-top: -24px;
	display: none;
	background: black;
	color: white;
	padding: 2px 3px;
}
#app > .draggable-list > .element-container:first-child {
	> .block-title {
		margin-top: 0px;
	}
}