input, select, .form-control, .multiselect__input, .multiselect__single, .multiselect__tags {
    background: lighten($bg-dark, 18%);
    color: white;
    &:focus {
        background: lighten($bg-dark, 22%);        
        outline: none;
        border-color: transparent;
    }
}

label {
    font-size: 12px;
}
.form-group {
    clear: both;
}
.form-control {
    border: 0;
}
select.form-control:not([size]):not([multiple]) {
    height: calc(2.15rem + 0px);
}
.group-label {
    border-top: 1px solid lighten($bg-dark, 10%);
    padding: 6px 10px;
    cursor: pointer;
}
.group-content {
    fieldset {
        padding: 13px;
    }
}


.half, .one-third, .two-thirds, .one-quarter, .three-quarters {
    float: left;
    clear: none;
    margin-right: 8%;    
}
.half {
    width: 46%;
}
.one-third {
    width: 29.33%;
}
.two-thirds {
    width: 62.66%;
}
.one-quarter {
    width: 21%;
}
.three-quarters {
    width: 71%;
}
.last {
    margin-right: 0;
    clear: right;
}


/**
 * Field types
 */
.multiselect__tags {
    min-height: 24px;
    padding: 5px 6px 0 6px;
    border-radius: 5px;
    border: 0;
}
.multiselect__tag {
    margin-top: 2px;
    margin-bottom: 2px;
}
.multiselect__select {
    width: 30px;
    height: 34px;
}

.radio-images {
    input {
        display: none;
    }
    .radio-image {
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 18px;
        cursor: pointer;
        text-align: center;
        border: 1px solid gray;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            max-height: 20px;
        }
    }
    .is-checked {
        background: gray;
    }
}

.field-dimension {
    .field-wrap {
        position: relative;
    }
    select {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
    }
}

.color-picker {
    .current-color {
        width: 28px;
        height: 28px;
        display: block;
        background: lighten($bg-dark, 18%);
        border-radius: 5px;
        padding: 5px;
    }
}