
.margin {
	position: absolute;
	background: rgba(255, 202, 28, 0.488);	
	display: flex;
}
.margin-top, .margin-bottom {
	left: 0;
	bottom: 100%;
	width: 100%;
}
.margin-bottom {
	top: 100%;
}
.margin-left, .margin-right {
	left: auto;
	right: 100%;
	height: 100%;
}
.margin-right {
	left: 100%;
}

.padding {
	display: flex;
	position: absolute;
	background: rgba(110, 247, 110, 0.2);	
}
.padding-top, .padding-bottom {
	left: 0;
	top: 0;
	width: 100%;
}
.padding-bottom {
	top: auto;
	bottom: 0;
}
.padding-left, .padding-right {
	left: 0;
	height: 100%;
}
.padding-right {
	left: auto;
	right: 0;
}

.resizer {
	width: 20px;
	height: 20px;
	display: flex;
	border: 3px solid orange;
	border-radius: 50%;
	z-index: 10;
}
.padding {
	.resizer {
		border-color: green;
	}
}
.margin {
	.resizer {
		margin-top: -20px;
	}
}
.padding-left, .padding-right, .margin-left, .margin-right {
	align-content: center;
	align-items: center;
}
.padding-top, .padding-bottom, .margin-top, .margin-bottom {
	justify-content: center;
}

// div[class$="-top"]

.padding-left {
    .resizer {
        justify-self: flex-end;
    }
}