.modal-container.import-modal {
    width: 1000px;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    position: fixed;
    .modal-body {
        flex-direction: row;
    }
    .importer-html {
        padding: 15px;
        width: 50%;
    }
    .importer-css {
        padding: 15px;        
        width: 50%;
    }
    textarea {
        width: 100%;
    }
}