// .modal-mask {
//   position: fixed;
//   z-index: 9998;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, .5);
//   display: flex;
//   transition: opacity .3s ease;
// }

// .modal-wrapper {
//   display: flex;
//   vertical-align: middle;
// }

.modal-container {
  max-height: 80vh;
  width: 300px;
  margin: 0px auto;
  padding: 0;
  background-color: $bg-dark;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
  // overflow: scroll;
  position: absolute;
  top: 20%;
  left: 40%;
  color: white;
  z-index: 10;
}

.modal-header {
  padding: 0 5px;
  border: 0;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}