#app {
	.section {
		position: relative;
		>.toolbar {
			right: auto;
		}
	}
}

.section {
	padding-top: 3rem;
	padding-bottom: 3rem;
	>.toolbar {
		background: #fff;	
		top: 50%;
		left: 10px;
		right: 0;
		transform: translateY(-50%);
		width: 48px;
	}
}