.sidebar {
  background: $bg-dark;
  color: white;
  right: 0;
  left: auto;
  top: 0;
  height: 100%;
  width: $style-bar-width;
  max-height: none;
  position: fixed;
  overflow: scroll;
  .sidebar-header {
    width: 100%;
    display: inline-block;
    height: $toolbar-height;
      .tab-label {
        height: $toolbar-height;          
          width: 33.333%;
          text-align: center;
          float: left;
          padding: 10px;
          background: darken($bg-dark,10%);
          &.active {
            background: $bg-dark;           
          }
      }
  }
}
.sidebar.sidebar-left {
    left: 0;
    right: auto;
    transform: translate3d(-100%,0,0);
}
.sidebar.open {
    transform: translate3d(0%,0,0);
}
