.toolbar {	
	width: calc(100% - #{$style-bar-width});
	position: fixed;
	top: 0;
	left: 0;
	height: $toolbar-height;
	margin-right: $style-bar-width;
	background: $bg-dark;
	color: white;

	button {
		float: left;
		width: 42px;
		height: $toolbar-height;
		line-height: $toolbar-height;
		text-align: center;
		background: transparent;
		border: 0;
		border-right: 1px solid lighten($bg-dark, 15);
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		opacity: .6;
		i {
			line-height: $toolbar-height;
			color: white;
		}
		&:hover {
			background: lighten($bg-dark, 15);
			opacity: 1;			
		}
		&:focus {
			outline: none;
		}
		&.vb-selected {
			opacity: 1;
		}
	}
}