<template>
  <draggable
  class="vb-draggable-list"
  :class="columnClass"
  v-model="model.children"
  :options="{group:'elements', filter: '.editable', preventOnFilter: false}"
  @filter="this.$utils.dragStart">
      <el
      v-for="elementKey in model.children"
      :model="$store.state.elements[elementKey]"
      :key="elementKey"
      :element-key="elementKey">
      </el>
  </draggable>
</template>

<script>
import VueFormGenerator from "vue-form-generator";
import Typography from '../mixins/typography'
import Display from '../mixins/display'
import Dimensions from '../mixins/dimensions'
import Background from '../mixins/background'
import Styles from '../mixins/styles'
import ElementBase from '../mixins/elementBase'

export default {
  name: 'column',
  label: 'Column',
  mixins: [ElementBase],
  props: {
    model: Object,
  },
  computed: {
    columnClass: function() {
      return 'col-md-' + this.model.size;
    },
  },
  methods: {
    updateColumnSize: function(columns) {
      app.currentElement.size = columns;
    },
    startResize: function(e) {
      this.selected = true;
      this.startingPosition = e.clientX;
      this.originalWidth = e.target.parentElement.offsetWidth;
      this.containerWidth = e.target.parentElement.parentElement.offsetWidth;
      this.columnContainer = e.target.parentElement;
      document.documentElement.addEventListener('mousemove', this.doResize, false);
      document.documentElement.addEventListener('mouseup', this.stopResize, false);
    },
    doResize: function(e) {
      e.preventDefault();
      var newWidth = e.clientX - this.startingPosition + this.originalWidth;
      var percentageWidth = (newWidth / this.containerWidth) * 100;
      this.size = this.$utils.getClosestNumber(this.$config.gridSizes, percentageWidth);
    },
    stopResize: function() {
      this.selected = false;
      document.documentElement.removeEventListener('mousemove', this.doResize, false);    
      document.documentElement.removeEventListener('mouseup', this.stopResize, false);
    },
  },
  groups: {
      'General': {
          legend: 'General',
          fields: {
            'columns': {
                type: "input",
                inputType: "text",
                label: "Columns",
                model: "uniqueClass",
                // readonly: true,
                featured: false,
                // disabled: true,
            },
          }
      }
  }
}
</script>