<template>
    <draggable
    class="vb-draggable-list"
    v-model="model.children"
    :options="{group:'elements', filter: '.editable', preventOnFilter: false}"
    @filter="this.$utils.dragStart">
        Test block
        Parent: {{ parentId }}
        <el
        v-for="elementKey in model.children"
        :parent-element="model"
        :model="$store.state.elements[elementKey]"
        :key="elementKey"
        :element-key="elementKey">
        </el>
    </draggable>
</template>

<script>
import ElementBase from '../mixins/elementBase'

export default {
    props: {
        model: Object,
        parentId: null
    },
    mixins: [ElementBase],
    label: 'Div Block',
    groups: {
        'General': {}
    },
    parseNode(node) {
        // Get classes
        return {
            classes: node.className ? node.className.split(/\s+/) : []
        }
        // Get unwrapped value
        // Get children if any
    },
}
</script>