<template>
    <component v-bind:is="model.headingTag"><editable :content="model.text" @update="model.text = $event"></editable></component>
</template>

<script>
import ElementBase from '../mixins/elementBase'

export default {
  mixins: [ElementBase],
  props: {
    model: Object,
  },
  label: 'Heading',
    groups: {
        'General': {
            fields: {
                'text': {
                    type: "input",
                    inputType: "text",
                    label: "Text",
                    model: "text",
                    default: "Link Text"
                },
                'headingTag': {
                    type: "select",
                    label: "Heading Tag",
                    model: "headingTag",
                    values: function() {
                        return [
                            { id: "h1", name: "H1" },
                            { id: "h2", name: "H2" },
                            { id: "h3", name: "H3" },
                            { id: "h4", name: "H4" },
                            { id: "h5", name: "H5" },
                            { id: "h6", name: "H6" },
                        ]
                    },
                    default: 'h2'
                }
            },
        }
    } 
}
</script>