<template>
  <draggable
  class="vb-draggable-list"
  v-model="model.children"
  :options="{group:'elements', filter: '.editable', preventOnFilter: false}"
  @filter="this.$utils.dragStart">
      <strong>I'm a nestable section.</strong>
      SectionKey: {{ parentKey }}
      ElementKey: {{ elementKey }}
      <el
      v-for="elementKey in model.children"
      :model="$store.state.elements[elementKey]"
      :key="elementKey"
      :element-key="elementKey"
      :parent-element="this">
      </el>
  </draggable>
</template>

<script>
import ElementBase from '../mixins/elementBase'

export default {
  name: 'section-element',
  label: 'Section',
  mixins: [ElementBase],
  data () {
    return {
      type: 'section-element',
      name: 'Section Widget',
    }
  },
  groups: {
      'General': {
          fields: [{
              type: "input",
              inputType: "text",
              label: "ID",
              model: "uniqueClass",
              // readonly: true,
              featured: false,
              // disabled: true,
          },
          {
              type: "input",
              inputType: "text",
              label: "Value",
              model: "value",
              default: 'test default field',
              readonly: false,
              featured: false,
              disabled: false,
              visible: true,
              css: '{{ widget }} { background: {{ value }}; }',
          },]
      }
  },
  parseNode(node) {
      if (node.classList && node.classList.contains('section')) {
          return {
              value: 'testmoo'
          }
      }
  }
}
</script>