<template>
  <div>
    <strong>I'm a text widget</strong>
  </div>
</template>

<script>
import VueFormGenerator from "vue-form-generator";
import ElementBase from '../mixins/elementBase'

export default {
  mixins: [ElementBase],
  props: {
    model: Object,
    column: null,
  },
  data () {
    return {
      type: 'text',
      name: 'Text Widget',
      schema: {
          fields: [{
              type: "input",
              inputType: "text",
              label: "ID",
              model: "id",
              readonly: true,
              featured: false,
              disabled: true
          },
          {
                      type: "input",
                      inputType: "text",
                      label: "Value",
                      model: "value",
                      readonly: false,
                      featured: false,
                      disabled: false
                  },
          {
              type: "input",
              inputType: "text",
              label: "Name",
              model: "name",
              readonly: false,
              featured: true,
              required: true,
              disabled: false,
              placeholder: "User's name",
              validator: VueFormGenerator.validators.string
          }, {
              type: "input",
              inputType: "password",
              label: "Password",
              model: "password",
              min: 6,
              required: true,
              hint: "Minimum 6 characters",
              validator: VueFormGenerator.validators.string
          }, {
              type: "input",
              inputType: "number",
              label: "Age",
              model: "age",
              min: 18,
              validator: VueFormGenerator.validators.number
          }, {
              type: "input",
              inputType: "email",
              label: "E-mail",
              model: "email",
              placeholder: "User's e-mail address",
              validator: VueFormGenerator.validators.email
          }, {
              type: "checklist",
              label: "Skills",
              model: "skills",
              multi: true,
              required: true,
              multiSelect: true,
              values: ["HTML5", "Javascript", "CSS3", "CoffeeScript", "AngularJS", "ReactJS", "VueJS"]
          }, {
             type: "switch",
              label: "Status",
              model: "status",
              multi: true,
              readonly: false,
              featured: false,
              disabled: false,
              default: true,
              textOn: "Active",
              textOff: "Inactive"
          }]
        }    
    }
  }
}
</script>