<template>
    <transition name="context-menu" v-on:after-enter="focusMenu">
        <ul id="context-menu" 
            class="context-menu" 
            tabindex="-1" 
            v-if="showContextMenu" 
            @blur="closeContextMenu"  
            :style="{top:top, left:left}">
            <li @click="deleteElement">Delete Element</li>
            <li @click="duplicateElement">Duplicate</li>
            <li @click="openElementModal">Settings</li>
            <li @click="selectParent">Select Parent</li>
        </ul>
    </transition>
</template>

<script>
export default {
    name: 'context-menu',
    data() {
        return {
        }
    },
    computed: {
        showContextMenu() {
            return this.$store.state.showContextMenu
        },
        top() {
            var top = this.$store.state.contextMenuPosition.top
            var largestHeight = window.innerHeight - this.$el.offsetHeight - 25;
            if (top > largestHeight) top = largestHeight;
            return top + 'px';
        },
        left() {
            var left = this.$store.state.contextMenuPosition.left            
            var largestWidth = window.innerWidth - this.$el.offsetWidth - 25;
            if (left > largestWidth) left = largestWidth;
            return left + 'px';
        }
    },
    methods: {
        focusMenu: function() {
            this.$el.focus();
        },
        closeContextMenu: function() {
            this.$store.commit('closeContextMenu')
        },
        deleteElement: function() {
            this.$store.commit('deleteElement', this.$store.state.currentElementKey)   
            this.closeContextMenu()
        },
        openElementModal: function() {
            this.$store.commit('openElementModal')   
            this.closeContextMenu()            
        },
        duplicateElement: function() {
            this.$store.commit('openElementModal')   
            this.closeContextMenu()            
        },
        selectParent: function() {
            var parentId = this.$utils.getParent(this.$store.state.elements, this.$store.state.currentElementKey, 'children')
            console.log(parentId)
            this.$store.commit('setCurrentElementKey', parentId)   
            this.closeContextMenu()            
        }

    }
}
</script>