<template>
  <div class="editable" @dblclick="initEditor">
    <div v-if="!this.editor" v-html="content" class="editable-content"></div>
    <div v-if="this.editor" @click="destroyEditor" class="editable-overlay"></div>
  </div>
</template>

<script>
import Quill from 'quill'
import MediumEditor from 'medium-editor'

export default {
  props: {
    content: ''
  },
  data () {
    return {
      editor: null
    }
  },
  methods:{
    update:function(event){
      event.preventDefault();
      this.$emit('update',event.target.innerText);
    },
    initEditor: function() {
      if (!this.editor) {
        var editor = document.createElement('div');
        editor.innerHTML = this.content;
        this.$el.appendChild(editor);
        var toolbarOptions = [['bold', 'italic'], ['link', 'image']];
        this.editor = new MediumEditor(editor, {
            toolbar: {
                buttons: ['bold', 'italic', 'underline', 'anchor', 'h2', 'h3', 'quote'],
            }
        });
      }
      this.editor.origElements.focus();
    },
    destroyEditor: function(event) {
      this.$emit('update',this.editor.getContent());
      this.editor.destroy()
      this.editor.origElements.remove()
      this.editor = null
    }
  },
}
</script>