<template>
    <div class="element-tree-item" :style="indent">
        <div class="element-tree-item-name" :class="{'active': this.$store.state.currentElementKey == elementKey}" @click="editElement">
          <span @click="toggleChildren" v-if="model.children && model.children.length" v-html="open ? this.$constants.feather['chevron-down'].toSvg() : this.$constants.feather['chevron-right'].toSvg()"></span>{{ this.$config.elementTypes[model.type].label }} {{ model.classes.length ? '.' + model.classes.join('.') : '' }}
        </div>
        <element-tree-item
        v-for="elementKey in model.children"
        v-if="open"
        :model="$store.state.elements[elementKey]"
        :key="elementKey"
        :element-key="elementKey"
        :depth="depth + 1"
        @opened="showChildren">
        </element-tree-item>
    </div>
</template>

<script>
import Vue from 'vue'

export default {
  props: {
    model: Object,
    elementKey: null,
    depth: null,
  },
  name: 'element-tree',
  computed: {
      indent() {
        if (this.depth > 1)
          return { transform: `translate(${20}px)` }
      },
      open() {
        if(this.$store.state.openElementTreeItems[this.elementKey]) {
          return true
        }
      }
  },
  methods : {
    toggleChildren() {    
      event.stopPropagation()  
      if (this.open) {
        Vue.delete(this.$store.state.openElementTreeItems, this.elementKey)
      } else {
        Vue.set(this.$store.state.openElementTreeItems, this.elementKey, true)
      }
    },
    showChildren() {
      Vue.set(this.$store.state.openElementTreeItems, this.elementKey, true)
    },
    editElement: function(event) {
      event.stopPropagation();
      event.preventDefault()
      this.$store.commit('setCurrentElementKey', this.elementKey);
    },
  },
}
</script>