<template>
    <div class="workpane" v-if="$store.state.iframePreview" :style="relativeIframeDistance">
        <element-form></element-form>
        <context-menu></context-menu>
        <div class="highlight hovered-element" v-if="hoveredElement" :style="getElementPosition(hoveredElement.$el)">
            <div class="label">
                {{ this.$config.elementTypes[hoveredElement.model.type].label }}
                <div class="parents">
                    {{ hoveredElement.parentKey }}
                </div>
            </div>
        </div>
        <div class="highlight current-element" ref="currentElementHighlighter" v-if="currentElementNode" :style="currentElementPosition">
            <div class="margin margin-top" :style="{height: elementStyle.marginTop }">
                <span class="resizer" @mousedown="startResize('clientY', 'margin-top')" @mouseup="stopResize"><br/>Resizer Padding</span>                                                                                                
            </div>
            <div class="margin margin-bottom" :style="{height: elementStyle.marginBottom }">
                <span class="resizer" @mousedown="startResize('clientY', 'margin-bottom', true)" @mouseup="stopResize"><br/>Resizer Padding</span>                                                                                
            </div>
            <div class="margin margin-left" :style="{width: elementStyle.marginLeft }">
                <span class="resizer" @mousedown="startResize('clientX', 'margin-left')" @mouseup="stopResize">Resizer</span>                
            </div>
            <div class="margin margin-right" :style="{width: elementStyle.marginRight }">
                <span class="resizer" @mousedown="startResize('clientX', 'margin-right', true)" @mouseup="stopResize"><br/>Resizer Padding</span>                                                                
            </div>

            <div class="padding padding-top" :style="{height: elementStyle.paddingTop }">
                <span class="resizer" @mousedown="startResize('clientY', 'padding-top')" @mouseup="stopResize"><br/>Resizer Padding</span>                                                                
            </div>
            <div class="padding padding-bottom" :style="{height: elementStyle.paddingBottom }">
                <span class="resizer" @mousedown="startResize('clientY', 'padding-bottom', true)" @mouseup="stopResize"><br/>Resizer Padding</span>                                                
            </div>
            <div class="padding padding-left" :style="{width: elementStyle.paddingLeft }">
                <span class="resizer" @mousedown="startResize('clientX', 'padding-left')" @mouseup="stopResize"><br/>Resizer Padding</span>                                
            </div>
            <div class="padding padding-right" :style="{width: elementStyle.paddingRight }">
                <span class="resizer" @mousedown="startResize('clientX', 'padding-right', true)" @mouseup="stopResize">Resizer Padding</span>                
            </div>

            <div class="label">
                {{ this.$config.elementTypes[currentElementModel.type].label }}
                <div class="parents">
                    {{ currentElementModel.parentKey }}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue'
import ResizeObserver from 'resize-observer-polyfill';

export default {
  data () {
    return {
      hoveredElement: null,
      iframeMounted: false,
      iframeScroll: 0,
      startPosition: 0,
      endPosition: 0,
      targetProperty: null,
      dragReverse: false,
      mouseEvent: null,
      currentElementPosition: null,
    }
  },
  mounted() {
      var component = this
      this.$eventHub.$on('elementHovered', function(element){
        component.hoveredElement = element
      })

  },
  computed: {
    //   currentElementPosition() {
        //   console.log('recalcing position')
// if (this.currentElementNode) {
//   console.log('calculating')
//     const ro = new ResizeObserver(entries => {
//       for (let entry of entries) {
//           console.log(entry)
//       //   entry.target.style.borderRadius = Math.max(0, 250 - entry.contentRect.width) + 'px';
//       }
//     });
//     // Only observe the second box
//     ro.observe(this.currentElementNode);
// }

        // var el = this.currentElementNode.getBoundingClientRect();
        // return {
        // transform: 'translate3d(' + el.left + 'px,' + el.top + 'px, 0 )',
        // width: el.width + 'px',
        // height: el.height + 'px'
        // };
    //   },
      currentElementNode() {
          return this.$store.getters.currentElementNode
      },
      currentElementModel() {
          return this.$store.getters.currentElementModel
      },
      elementStyle() {
        //   return window.getComputedStyle(this.currentElementNode, null)
        if (this.$store.getters.currentRuleSet) {
            var el = this.currentElementNode.getBoundingClientRect();
            this.currentElementPosition = {
            transform: 'translate3d(' + el.left + 'px,' + el.top + 'px, 0 )',
            width: el.width + 'px',
            height: el.height + 'px'
            };
            return {
                marginTop: this.$store.getters.currentRuleSet.declarations['margin-top'],
                marginBottom: this.$store.getters.currentRuleSet.declarations['margin-bottom'],
                marginLeft: this.$store.getters.currentRuleSet.declarations['margin-left'],
                marginRight: this.$store.getters.currentRuleSet.declarations['margin-right'],
                paddingTop: this.$store.getters.currentRuleSet.declarations['padding-top'],
                paddingBottom: this.$store.getters.currentRuleSet.declarations['padding-bottom'],
                paddingLeft: this.$store.getters.currentRuleSet.declarations['padding-left'],
                paddingRight: this.$store.getters.currentRuleSet.declarations['padding-right'],
            }
        }
      },
      relativeIframeDistance() {
          var iframePreview = this.$store.state.iframePreview;
          var component = this
          if (!this.iframeMounted) {
              iframePreview.$el.contentDocument.addEventListener('scroll', function(event) {
                component.iframeScroll = iframePreview.$el.contentWindow.scrollY;
              }, false);
          }
          return { 
              width: this.$store.state.currentMediaQuery.width,
              top: '-' + this.iframeScroll 
          }
      }
  },
  methods: {
      getElementPosition(element) {
          if (element) {
            var el = element.getBoundingClientRect();
            return {
            transform: 'translate3d(' + el.left + 'px,' + el.top + 'px, 0 )',
            width: el.width + 'px',
            height: el.height + 'px'
            };
          }
      },
      startResize: function(mouseEvent, property, reverse) {
        this.mouseEvent = mouseEvent
        this.targetProperty = property
        this.dragReverse = reverse
        var initialValue = this.$store.getters.currentRuleSet.declarations[this.targetProperty] ? parseInt(this.$store.getters.currentRuleSet.declarations[this.targetProperty]) : 0
        this.startPosition = this.dragReverse ? event[this.mouseEvent] + initialValue : event[this.mouseEvent] - initialValue;
        document.documentElement.addEventListener('mousemove', this.doResize, false);
        document.documentElement.addEventListener('mouseup', this.stopResize, false);
      },
      doResize: function(event) {
        event.preventDefault();
        var value = this.dragReverse ? this.startPosition - event[this.mouseEvent] : event[this.mouseEvent] - this.startPosition
        this.$store.commit('updateRuleSet', [this.$store.state.currentSelector, this.targetProperty, value + 'px'])
      },
      stopResize: function() {
        document.documentElement.removeEventListener('mousemove', this.doResize, false);    
        document.documentElement.removeEventListener('mouseup', this.stopResize, false);
      },
  }
}
</script>