<template>
  <draggable v-bind:is="model.type" 
    @click.native="editElement" 
    @dblclick.native="openElementModal" 
    @contextmenu.native="openContextMenu"
    :model="model"
    :class="[
      model.classes,
      {'vb-matched-element': matchesCurrentSelector && !isExporting}, 
      {'vb-hovered-element': hovered && !isExporting}, 
      {'vb-current-element': isCurrentElement && !isExporting}, 
      {'vb-empty': isEmpty && !isExporting}
    ]"
    :data-vb-element-key="elementKey"
    :id="model.id"
    :element-key="elementKey"
    :parent-key="parentKey"
    :parent-element="parentElement"
    @mouseover.native="hoverElement" @mouseleave.native="unhoverElement"
    ref="child">
      <el
      v-for="element in model.children"
      :parent-element="model"
      :parent-id="model.id"
      :model="$store.state.elements[element]"
      :key="element.id">
      </el>

    <!-- <div class="resizer-handle resizer-handle-left"></div>
    <div class="resizer-handle resizer-handle-top"></div>
    <div class="resizer-handle resizer-handle-right"></div>
    <div class="resizer-handle resizer-handle-bottom"></div> -->
  </draggable>
</template>

<script>
import Vue from 'vue'
import VueFormGenerator from 'vue-form-generator'
import Specificity from 'specificity'

export default {
  props: {
    model: Object,
    parentElement: null,
    parentKey: null,
    elementKey: null,
  },
  data () {
    return {
      isMounted: false,
      hovered: false,
      classCycleCounter: 1,
    }
  },
  mounted() {
    this.isMounted = true
  },
  computed: {
    isExporting() {
      return this.$store.state.isExporting
    },
    isEmpty() {
      if (this.model.children && !this.model.children.length)
        return true
    },
    isCurrentElement() {
      if (this.$store.getters.currentElementKey == this.elementKey) {
        var component = this
        return true
      }
    },
    matchesCurrentSelector() {
      if(!this.isMounted)
        return
      if (this.$store.state.currentSelector && this.$el.matches(this.$store.state.currentSelector)) {
        return true
      }
    },
    groups() {
      return Vue.options.components[this.model.type].options.groups
    },
    getPropertiesFromNode() {

    }
  },
  methods: {
    editElement: function(event) {
      event.stopPropagation()
      event.preventDefault()

      // Cycle through specificity
      if (!this.isCurrentElement) {
        this.classCycleCounter = 1
      }
      if (event.shiftKey) {
        this.classCycleCounter += 1
        console.log(this.classCycleCounter)
      } else {
        this.classCycleCounter = 1
      }

      this.$store.dispatch('editElement', [this.elementKey, this.classCycleCounter]);
    },
    openElementModal: function(event) {
      event.stopPropagation()
      this.$store.commit('openElementModal');
      event.preventDefault()
    },
    hoverElement(e) {
      e.stopPropagation()          
      this.$eventHub.$emit('elementHovered', this)
    },
    unhoverElement(e) {
      e.stopPropagation()          
      this.$eventHub.$emit('elementHovered', null)
    },
    openContextMenu: function(event) {
      event.preventDefault()
      this.editElement(event)
      this.$store.commit('openContextMenu', event)
    }

  },
}
</script>