<template>
    <div id="element-tree" class="element-tree">
        <element-tree-item
        v-for="elementKey in $store.state.elements.root.children"
        :model="$store.state.elements[elementKey]"
        :key="elementKey"
        :element-key="elementKey"
        :depth="1">
        </element-tree-item>
    </div>
</template>

<script>
export default {
  name: 'element-tree',
  methods: {
  }
}
</script>