<template>
  <div class="sidebar sidebar-left" :class="{'open': elementMenuOpen }">

    <div class="sidebar-header">
      <input type="text" v-model="searchFilter">

      <button class="modal-default-button" @click="closeElementMenu">
        Close
      </button>
    </div>

    <div class="sidebar-body">
      <draggable
        v-model="elementsArray"
        class="vb-draggable-list"
        @start="startDrag"
        :clone="cloneElement"
        :options="{group:{name:'elements', clone: 'pull', put: false}, sort: false, preventOnFilter: false}">
          <template v-for="element in elementsArray" v-if="element.label.toLowerCase().indexOf(searchFilter.toLowerCase()) !== -1">
              <div class="element-card">{{ element.label }}</div>
          </template>
      </draggable>
    </div>

  </div>
</template>

<script>
import shortid from 'shortid'

export default {
  data () {
    return {
      elements: this.$config.elementTypes,
      searchFilter: '',
    }
  },
  computed: {
    elementMenuOpen: function() {
      return this.$store.state.elementMenuOpen;
    },
    elementsArray: function() {
      let array = []
      for (let prop of Object.keys(this.elements))
        array.push( this.elements[prop] );
      return array;
    }
  },
  methods:{
    insertElement: function() {
    },
    startDrag: function(event) {
      this.closeElementMenu()
      return true;
    },
    addElement: function() {
    },
    cloneElement: function(element) {
      var id = shortid.generate()
      this.$store.commit('createElement', [id, element.name, {} ])
      return id
    },
    closeElementMenu: function() {
      this.$store.commit('closeElementMenu');
    },
  }
}
</script>