<template>
  <iframe @load="renderChildren" :src="this.src" :style="width">
  </iframe>
</template>

<script>
import Vue from 'vue'
import PreviewStyle from '../assets/scss/preview.scss';


export default {
  data: function() {
    return {
      src: '../dist/example/page.html',
      target: this.$config.previewTarget,
    }
  },
  beforeUpdate() {
    //freezing to prevent unnessessary Reactifiation of vNodes
    if (this.iframeApp)
      this.iframeApp.children = Object.freeze(this.$slots.default)
  },
  computed: {
    width() {
      if (this.$store.state.currentMediaQuery)
        return {width: this.$store.state.currentMediaQuery.width}
    }
  },
  methods: {
    renderChildren() {

      // Add preview styles
      // var link = document.createElement("link");
      // link.href = "/dist/main.css"; 
      // link.rel = "stylesheet"; 
      // link.type = "text/css"; 
      // this.$el.contentWindow.document.getElementsByTagName('head')[0].appendChild(link)


      // Add builder styles
      var style = document.createElement('style')
      style.type = "text/css"
      style.innerHTML = PreviewStyle.toString()
      this.$el.contentWindow.document.getElementsByTagName('head')[0].appendChild(style)

// fetch(sheet.href, {
//   method: 'get'
// }).then(function(response) {
//   console.log(response.text())
// })
      // Parse iframe css
      // var css= [];
      // for (var i= 0; i<document.styleSheets.length; i++) {
          // var sheet= document.styleSheets[i];
          // fetch(sheet.href, {
          //   method: 'get'
          // }).then(function(response) {
          //   console.log(response.text())
          // })
          // console.log(sheet)
          // var rules= ('cssRules' in sheet && sheet.cssRules)? sheet.cssRules : sheet.rules;
          // for (var n= 0; n<rules.length; n++) {
          //     var rule= rules[n];
          //     if ('cssText' in rule)
          //         css.push(rule.cssText);
          //     else
          //         css.push(rule.selectorText+' {\n'+rule.style.cssText+'\n}\n');
          // }
      // }
      // css.join('\n');
      // console.log(css.join('\n'))

      // Add stylenode
      var style = document.createElement('style')
      style.type = "text/css"
      style.appendChild(document.createTextNode(''))
      // this.styleNode = style.childNodes[0]
      this.$el.contentWindow.document.getElementsByTagName('head')[0].appendChild(style)
      this.$store.commit('setStyleNode', style.childNodes[0]);

      // Add elements
      const children = this.$slots.default
      const container = this.$el.contentWindow.document.querySelector(this.target)  
      container.innerHTML = ''
      const el = document.createElement('div')
      container.appendChild(el)
      this.$store.commit('setIframePreview', this);
      
      // Mount iframe app and store
      var store = this.$store;
      const iframeApp = new Vue({
      	name: 'iframeApp',
        //freezing to prevent unnessessary Reactifiation of vNodes
        store,
        data: { 
          iframe: this.$el,
          container: container,
          children: Object.freeze(children)
        }, 
        render(h) {
          return h('div', this.children)
        },
      })
      iframeApp.$mount(el) // mount into iframe
      this.iframeApp = iframeApp // cache instance for later updates

    },
  }
}
</script>