<template>
    <div class="importer">
        <div class="float-right">
            <button class="import" @click="openImportModal" v-html="this.$constants.feather['code'].toSvg()">></button>
        </div>
        <div class="modal-container import-modal" v-if="this.$store.state.importModalOpen">
            <div class="modal-header">Import</div>
            <div class="modal-body">
                <div class="importer-html">
                    <codemirror v-model="renderedHtml" :options="cmHtmlOptions"></codemirror>
                </div>
                <div class="importer-css">
                    <div class="codemirror">
                        <codemirror v-model="renderedCss" :options="cmCssOptions"></codemirror>                    
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button @click="importInputs">Import</button>
            </div>
        </div>
        <div ref="renderedElements" v-show="false">
            <el
            v-for="elementKey in $store.state.elements.root.children"
            :model="$store.state.elements[elementKey]"
            :key="elementKey"
            :element-key="elementKey">
            </el>
        </div>
    </div>
</template>


<script>
import Vue from 'vue'
import shortid from 'shortid'
import 'codemirror/mode/xml/xml.js'
import 'codemirror/mode/css/css.js'

export default {
  name: 'toolbar',
  props: {
  },
  data () {
    return {
        isMounted: false,
        renderedHtml: '',
        renderedCss: '',
        cmHtmlOptions: {
          tabSize: 2,
          mode : "xml",
          htmlMode: true,
          theme: 'monokai'
        },
        cmCssOptions: {
          tabSize: 2,
          styleActiveLine: true,
          lineNumbers: true,
          line: true,
          mode: 'text/css',
          lineWrapping: true,
          theme: 'monokai'
        }
    };
  },
  mounted() {
      this.$store.commit('setElements', {root: {children: []}})
      this.importHtml(window.htmlString);
      this.isMounted = true
  },
  computed: {
    //   renderedHtml() {
    //       if (!this.isMounted) 
    //         return
    //         this.$store.commit('startExport')
    //         console.log(this.$store.state.isExporting)
    //         return this.$refs.renderedElements.innerHTML     
    //         this.$store.commit('endExport')
    //   }
  },
  methods : {
    openImportModal() {
        this.$store.commit('startExport')
        var component = this
        Vue.nextTick(function(){
            component.renderedHtml = component.$refs.renderedElements.innerHTML     
            component.renderedCss = component.$store.getters.styleNode.textContent
            component.$store.commit('endExport')
        })
      this.$store.commit('toggleImportModal');
    },
    closeImportModal() {
      this.$store.commit('toggleImportModal');
    },
    importInputs() {
        this.$store.commit('setElements', {root: {children: []}})        
        this.importHtml(this.renderedHtml)
    },
    importHtml(htmlString) {
        var template = document.createElement('div');
        var html = htmlString.trim();
        template.innerHTML = html;
        if(template.childNodes)
        {
            elements = this.parseChildNodes(elements, template.childNodes, 'root')
        }
    },
    parseChildNodes(elements, nodes, parentKey) {
        for(var i=0; i<nodes.length; i++) {
            var node = nodes[i];
            // Skip non-wrapped nodes and parse in element instead
            if (node.nodeType == 3)
                continue

            var elementKey = shortid.generate()
            var elementFromNode = this.getElementFromNode(node)
            this.$store.commit('createElement', [elementKey,elementFromNode.type, elementFromNode.properties])
            this.$store.commit('addChildElement', [parentKey, elementKey])
            elements = this.parseChildNodes(elements, node.childNodes, elementKey);
        }
    },
    getElementFromNode(node) {
        var component = this
        var type = 'div-element'
        var properties = {}
        for(var elementType in component.$config.elementTypes) {
            var nodeProperties = component.$config.elementTypes[elementType].parseNode ? component.$config.elementTypes[elementType].parseNode(node) : false
            if (nodeProperties) {
                properties = nodeProperties
                type = component.$config.elementTypes[elementType].name
                break;
            }
        }
        return {
            type: type,
            properties: properties
        }
    }
  },
}
</script>