<template>
  <transition name="sidebar">
    <template>
        <div class="sidebar" :class="{'closed': this.$store.state.styleSidebarClosed }">

            <div class="sidebar-header">
                <div class="tab-label" :class="{'active': currentTab == 'styles'}" @click="changeTab('styles')" v-html="this.$constants.feather.zap.toSvg()"></div>
                <div class="tab-label" :class="{'active': currentTab == 'element-tree'}" @click="changeTab('element-tree')" v-html="this.$constants.feather.box.toSvg()"></div>
                <div class="tab-label" :class="{'active': currentTab == 'rule-set-tree'}" @click="changeTab('rule-set-tree')" v-html="this.$constants.feather.shield.toSvg()"></div>
            </div>

            <div class="sidebar-body">
                <div v-if="currentTab == 'styles'" class="tab-content">
                    <styles-form></styles-form>
                </div>
                <div v-if="currentTab == 'element-tree'" class="tab-content">
                    <element-tree></element-tree>
                </div>
                <div v-if="currentTab == 'rule-set-tree'" class="tab-content">
                    <rule-set-tree></rule-set-tree>
                </div>
            </div>

        </div>
    </template>
  </transition>
</template>

<script>

export default {

  computed: {
    currentTab: function() {
        return this.$store.state.currentTab;
    },
  },
  methods:{  
    closeSidebar: function() {
      this.$store.commit('closeSidebar');
    },
    changeTab: function(label) {
      this.$store.commit('changeTab', label);
    },
  }
}
</script>