<template>
    <div class="rule-set-tree-item">
        <div class="selector" @click="toggleDeclarations">{{ id }}</div>
        <div class="declarations" v-if="open && model.type == 'rule'">
            {{ model.declarations }}
        </div>
        <div class="nested-rules" v-if="open && model.type == '@media'">
            <rule-set-tree-item
            v-for="selector in Object.keys(model.nestedRules)"
            :model="model.nestedRules[selector]"
            :parent="model"
            :key="selector"
            :id="selector">
            </rule-set-tree-item>
        </div>
    </div>
</template>

<script>
import Vue from 'vue'

export default {
  name: 'rule-set-tree-item',
  props: {
      id: null,
      model: null
  },
  data () {
    return {
    }
  },
  computed: {
      open() {
        return this.$store.state.openRuleSetTreeItems[this.id]
      }
  },
  methods: {
      toggleDeclarations() {
        if (this.open) {
          Vue.delete(this.$store.state.openRuleSetTreeItems, this.id)
        } else {
          Vue.set(this.$store.state.openRuleSetTreeItems, this.id, true)
        }
      },
  }
}
</script>