<template>
    <div class="styles-form">

        <div v-if="currentRuleSet">
            <h5>Current Selector</h5>
            <multiselect
              v-model="currentRuleSetSelector"
              :options="elementSelectorMatches"
              :allow-empty="false"
              @input="changeSelector">
            </multiselect>

            <div class="sidebar-body">
                <slot name="body">
                <div v-for="group in Object.keys(groups)" class="group-content">
                    <div class="group-label"
                      @click='groups[group].open = !groups[group].open'>
                      {{ groups[group].legend }}
                    </div>
                    <vue-form-generator 
                        :schema="groups[group]" 
                        :model="$store.getters.currentRuleSet.declarations" 
                        :options="formOptions"
                        v-if="groups[group].open">
                    </vue-form-generator>
                </div>
                </slot>
            </div>

        </div>
        <div v-else>
            No selector.
        </div>

    </div>
</template>

<script>
import Vue from 'vue'
import cssparser from 'cssparser/lib/cssparser'
import VueFormGenerator from "vue-form-generator";
import Typography from '../mixins/typography'
import Display from '../mixins/display'
import Dimensions from '../mixins/dimensions'
import Background from '../mixins/background'
import Styles from '../mixins/styles'

export default {

  data () {
    return {
      formOptions: this.$config.formOptions,
    }
  },
  mixins: [Display,Dimensions,Typography,Background],
  computed: {
    currentRuleSet: function() {        
        var currentRuleSet = this.$store.getters.currentRuleSet
        if (currentRuleSet 
            && currentRuleSet.selectors[0] == '.vb-temp'
            && Object.keys(currentRuleSet.declarations).length > 0) {
                currentRuleSet = this.createUniqueSelector()
        }
        return currentRuleSet
    },
    elementSelectorMatches: function() {
        return this.$store.getters.currentElementSelectorMatches;
    },
    currentRuleSetSelector() {
        if (this.currentRuleSet) {
            return this.currentRuleSet.selectors[0]
        }
        return ''
    }
  },
  methods: {
      createUniqueSelector() {
        var modelType = this.$store.state.currentElement.model.type
        var uniqueSelector = modelType
        if (this.$store.state.ruleSets['.' + uniqueSelector]) {
            for (var i = 1; i < 100; i++) {
                uniqueSelector = modelType + '-' + i
                if (!this.$store.state.ruleSets['.' + uniqueSelector])
                    break;
            }
        } else {
            uniqueSelector = modelType
        }
        this.$store.commit('changeSelectorName', ['.vb-temp', '.' + uniqueSelector]);
        Vue.set(this.$store.state.currentElement.model, 'classes', [uniqueSelector])
        return this.$store.state.ruleSets['.' + uniqueSelector]
      },
      changeSelector() {
          alert('changed')
      }
  }
}
</script>