<template>
    <div class="toolbar" id="app-toolbar">
        <div class="float-left">
            <button @click="toggleElementMenu" v-html="this.$constants.feather['plus-circle'].toSvg()"></button>
            <div class="preview-media-queries float-left">
            <template
                v-for="mediaQuery in this.$config.mediaQueries">
                <button 
                @click="changeMediaQuery(mediaQuery)" 
                :class="{'vb-selected': $store.state.currentMediaQuery == mediaQuery}"
                v-html="mediaQuery.icon">
                {{ mediaQuery.name }}
                </button>
            </template>
            </div>
        </div>
        <div class="float-right">
            <button class="save" @click="save" v-html="this.$constants.feather['save'].toSvg()">></button>
        </div>
        <importer></importer>
    </div>
</template>


<script>

export default {
  name: 'toolbar',
  props: {
  },
  data () {
    return {
    };
  },
  methods : {
    save: function () {
      console.log({
        elements: this.$store.state.elements,
        ruleSets: this.$store.state.ruleSets
      })
    },
    toggleElementMenu() {
      this.$store.commit('toggleElementMenu');
    },
    changeMediaQuery(query) {
      this.$store.commit('setCurrentMediaQuery', query);      
    }
  },
}
</script>