<template>
  <div id="app" :class="{'fixed-sidebar': $store.state.elementFormFixed }">

    <styles-generator></styles-generator>

    <i-frame id="iframe-preview" class="iframe-preview">
      <draggable
        class="vb-draggable-list"
        v-model="$store.state.elements.root.children"
        :options="{group:'elements', filter: '.editable', preventOnFilter: false}"
        @filter="this.$utils.dragStart">
          <el
            v-for="elementKey in $store.state.elements.root.children"
            :model="$store.state.elements[elementKey]"
            :key="elementKey"
            :element-key="elementKey">
          </el>
      </draggable>
    </i-frame>

    <right-sidebar></right-sidebar>
    
    <element-menu></element-menu>
    <element-highlighter></element-highlighter>
    <toolbar></toolbar>
  
  </div>

</template>

<script>

export default {
  name: 'app',
  props: {
  },
  data () {
    return {
    };
  },
}
</script>